# MongoDB
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=change_me
MONGO_URI=mongodb://admin:change_me@localhost:27017/
RAW_DB_NAME=jobs
RAW_COLLECTION_NAME=raw_jobs

# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=salary_valuation
