# Trich xuat du lieu (Data Ingestion)
playwright==1.42.0
requests==2.31.0

# Giao tiep co so du lieu (Storage Layer)
pymongo==4.6.2
python-dotenv==1.0.1

# Xu ly va lam sach du lieu (Data Processing)
pandas>=3.0.0
scikit-learn>=1.5.0
sentence-transformers>=3.0.0
faiss-cpu>=1.8.0
datasets>=2.18.0

# Phan he API Backend (Application Layer)
fastapi==0.110.0
uvicorn==0.27.1
